a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

main {
	max-width: 700px;
	width: auto;
	margin: 0px auto;
}

body {
	background-image: url('../img/diamond_upholstery.png');
}

header {
	margin: 0px auto;
	width: 645px;	
	background: White;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;

}

.time {
	color: LightGray;
}

.tweets {
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px 15px 15px;
	margin: 10px 0px;
	overflow: scroll;
}

.tweet {
	background: White;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
	color: Gray;
	font-family: Helvetica, Sans-serif;
	font-size: 14px;
	margin: 10px;
	padding: 5px;
	line-height: 18px;
}

.user {
	color: LightSkyBlue;
}